{layout './layouts/main.layout.latte'}

{block content}
<h1 class="uk-text-center">Maintenance Mode!</h1>
<h3 class="uk-text-center">
    <strong>We're working on new features, fixes, and updates for you!</strong>
</h3>
<p class="uk-text-center">Sorry for any inconvenience! Our servers are currently in maintenance mode, our typical maintenance windows run between 5 minutes and half an hour.</p>
<p class="uk-text-center">Please check back soon or try reloading this page in a few minutes! Thank you in advance for your patience and understanding.</p>
{/block}